docs/schema.dtd

<!ELEMENT document (meta?,header?,footer?,page+)>
<!ATTLIST document
  orientation (portrait|landscape) #IMPLIED
  unit (millimeter|centimeter|point|inch) #IMPLIED
  size (A4|A3|A5|letter|legal) #IMPLIED
  font-directory CDATA #IMPLIED
>
<!ELEMENT meta (keywords?,custom-fonts?,layers?,links?,margins?)
<!ATTLIST meta
  title CDATA #IMPLIED
  author CDATA #IMPLIED
  subject CDATA #IMPLIED
  creator CDATA #IMPLIED
>
<!ELEMENT keywords (keyword+)>
<!ATTLIST keywords
  utf8 (yes|no) #IMPLIED
>
<!ELEMENT keyword (#PCDATA)>
<!ELEMENT custom-fonts (custom-font+)>
<!ELEMENT custom-font EMPTY>
<!ATTLIST custom-font
  family CDATA #REQUIRED
  filepath CDATA #REQUIRED
  bold (yes|no) #IMPLIED
  italic (yes|no) #IMPLIED
>
<!ELEMENT layers (layer+)>
<!ELEMENT layer EMPTY>
<!ATTLIST layer
  name CDATA #REQUIRED
  visible (yes|no) #IMPLIED
>
<!ELEMENT links (link-ref+)>
<!ELEMENT link-ref (#PCDATA)>
<!ELEMENT margins EMPTY>
<!ATTLIST margins
  top CDATA #IMPLIED
  left CDATA #IMPLIED
  right CDATA #IMPLIED
>
<!ELEMENT header (page)>
<!ELEMENT footer (page)>
<!ELEMENT page (page-element+)>
<!ATTLIST page
  orientation (portrait|landscape) #IMPLIED
  width CDATA #IMPLIED
  height CDATA #IMPLIED
>
<!ELEMENT page-element (bookmark|line-break|block)>
<!ELEMENT bookmark EMPTY>
<!ATTLIST bookmark
  name CDATA #REQUIRED
  level CDATA #REQUIRED
  position CDATA #IMPLIED
>
<!ELEMENT line-break EMPTY>
<!ATTLIST line-break
  position CDATA #REQUIRED
>
<!ELEMENT block (setting?,transformations?,clip?,object+)>
<!ATTLIST block
  layer CDATA #IMPLIED
>
<!ELEMENT setting (font?,text-color?,draw-color?,fill-color?)>
<!ATTLIST setting
  x CDATA #IMPLIED
  y CDATA #IMPLIED
  margin CDATA #IMPLIED
  line-width CDATA #IMPLIED
>
<!ELEMENT font EMPTY>
<!ATTLIST font
  family CDATA #IMPLIED
  size CDATA #IMPLIED
  bold (yes|no) #IMPLIED
  italic (yes|no) #IMPLIED
>
<!ELEMENT text-color (rgb|named|hex)>
<!ELEMENT draw-color (rgb|named|hex)>
<!ELEMENT fill-color (rgb|named|hex)>
<!ELEMENT rgb EMPTY>
<!ATTLIST rgb
  red CDATA #REQUIRED
  green CDATA #REQUIRED
  blue CDATA #REQUIRED
>
<!ELEMENT named EMPTY>
<!ATTLIST named
  color (aliceblue|antiquewhite|aqua|aquamarine|azure|beige|bisque|black|blanchedalmond|blue|blueviolet|brown|burlywood|cadetblue|chartreuse|chocolate|coral|cornflowerblue|cornsilk|crimson|cyan|darkblue|darkcyan|darkgoldenrod|darkgray|darkgreen|darkkhaki|darkmagenta|darkolivegreen|darkorange|darkorchid|darkred|darksalmon|darkseagreen|darkslateblue|darkslategray|darkturquoise|darkviolet|deeppink|deepskyblue|dimgray|dodgerblue|firebrick|floralwhite|forestgreen|fuchsia|gainsboro|ghostwhite|gold|goldenrod|gray|green|greenyellow|honeydew|hotpink|indianred|indigo|ivory|khaki|lavender|lavenderblush|lawngreen|lemonchiffon|lightblue|lightcoral|lightcyan|lightgoldenrodyellow|lightgray|lightgreen|lightpink|lightsalmon|lightseagreen|lightskyblue|lightslategray|lightsteelblue|lightyellow|lime|limegreen|linen|magenta|maroon|mediumaquamarine|mediumblue|mediumorchid|mediumpurple|mediumseagreen|mediumslateblue|mediumspringgreen|mediumturquoise|mediumvioletred|midnightblue|mintcream|mistyrose|moccasin|navajowhite|navy|oldlace|olive|olivedrab|orange|orangered|orchid|palegoldenrod|palegreen|paleturquoise|palevioletred|papayawhip|peachpuff|peru|pink|plum|powderblue|purple|rebeccapurple|red|rosybrown|royalblue|saddlebrown|salmon|sandybrown|seagreen|seashell|sienna|silver|skyblue|slateblue|slategray|snow|springgreen|steelblue|tan|teal|thistle|tomato|turquoise|violet|wheat|white|whitesmoke|yellow|yellowgreen) #REQUIRED
>
<!ELEMENT hex (#PCDATA)>
<!ELEMENT transformations (transform+)>
<!ELEMENT transform (skew?,rotate?,translate?,mirror?,scale?>
<!ELEMENT skew (angle,station)>
<!ELEMENT angle (point)>
<!ELEMENT station (point)>
<!ELEMENT rotate (center)>
<!ATTLIST rotate
  angle CDATA #REQUIRED
>
<!ELEMENT translate (point)>
<!ELEMENT mirror (line)>
<!ELEMENT scale (factor,center)>
<!ELEMENT factor (point)>
<!ELEMENT center (point)>
<!ELEMENT object (block|text|circle|oval|rect|image|polygon|beziergon|curve|line|link)>
<!ELEMENT text (point,border?,href?,align?,body)>
<!ATTLIST text
  fill (yes|no) #IMPLIED
  break (right|nextline|below) #IMPLIED
>
<!ELEMENT border (all|(top?,left?,right?,bottom?))>
<!ELEMENT all EMPTY>
<!ELEMENT top EMPTY>
<!ELEMENT left EMPTY>
<!ELEMENT right EMPTY>
<!ELEMENT bottom EMPTY>
<!ELEMENT href (#PCDATA)>
<!ATTLIST href
  type (internal|external) #REQUIRED
>
<!ELEMENT align EMPTY>
<!ATTLIST align
  horizontal (left|center|right) #IMPLIED
  vertical (top|middle|bottom) #IMPLIED
>
<!ELEMENT body (#PCDATA|page-number)*>
<!ELEMENT page-number EMPTY>
<!ELEMENT circle (point)>
<!ATTLIST circle
  radius CDATA #REQUIRED
  fill (yes|no) #IMPLIED
  outline (yes|no) #IMPLIED
>
<!ELEMENT oval (bounds)>
<!ATTLIST oval
  rotate-degrees CDATA #REQUIRED
  fill (yes|no) #IMPLIED
  outline (yes|no) #IMPLIED
>
<!ELEMENT rect (bounds,gradient?)>
<!ATTLIST rect
  fill (yes|no) #IMPLIED
  outline (yes|no) #IMPLIED
>
<!ELEMENT gradient (bounds,stop,stop)>
<!ATTLIST gradient
  radius CDATA #IMPLIED
>
<!ELEMENT stop (rgb|named|hex)>
<!ATTLIST stop
  x (left|right) #REQUIRED
  y (top|bottom) #REQUIRED
>
<!ELEMENT image (bounds,href?)>
<!ATTLIST image
  filepath CDATA #REQUIRED
  flow (yes|no) #IMPLIED
  image-format (jpg|jpeg|png|gif) #IMPLIED
>
<!ELEMENT polygon (point,point,point+)>
<!ATTLIST polygon
  fill (yes|no) #IMPLIED
  outline (yes|no) #IMPLIED
>
<!ELEMENT beziergon (point,point,point+)>
<!ATTLIST beziergon
  fill (yes|no) #IMPLIED
  outline (yes|no) #IMPLIED
>
<!ELEMENT curve (point,point,point,point?)>
<!ATTLIST curve
  type (bezier|cubic) #IMPLIED
  fill (yes|no) #IMPLIED
  outline (yes|no) #IMPLIED
>
<!ELEMENT line (bounds)>
<!ELEMENT link (bounds,href)>
<!ELEMENT bounds (point,opposite)>
<!ELEMENT opposite (point)
<!ELEMENT point EMPTY>
<!ATTLIST point
  x CDATA #REQUIRED
  y CDATA #REQUIRED
>
